/* 模态框居中样式 */
.vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.vertical-center-modal .ivu-modal{
    top: -10%;
}

/* 长协合同文件上传组件样式修改 */

.changXie-upload-box .ivu-upload-list {
    position: absolute;
    top: 14px;
    left: 116px;
}
.changXie-upload-box .ivu-upload-list li{
	display: inline;
}
/* 售电合同文件上传组件样式修改 */
.shouDian-upload-box .ivu-upload-list {
    position: absolute;
    top: 0px;
    left: -480px;
}
.shouDian-upload-box .ivu-upload-list li{
	display: inline;
}
/* 年度/月度预测导入组件样式修改 */
.yuceDaoru-upload-box .ivu-upload-list {
    position: absolute;
    top: -6px;
    left: 6px;
}
.yuceDaoru-upload-box .ivu-upload-list li{
	display: inline;
}

.inType .ivu-slider-wrap {
	margin: 0;
	height: 32px;
}
.inType  .ivu-slider-bar {
	height: 32px;
}
.inType  .ivu-slider-button-wrap {
	display: none;
}
/* 输入框*/

.ivu-input{
	/* height: 34px; */
}
.searchBox .ivu-input {
	padding-left: 30px;
}
 .ivu-select-single .ivu-select-selection{
	/* height: 34px; */
}
.ivu-input-group{
	top: 0;
}
/*文本域状态,使用时 *** + .myTextarea 前面加上父级文件名称（否则优先级不够）*/
.myTextarea textarea{
	width: 700px;
	height: 102px;
	resize:none;
}


/*弹出的修改框居中显示*/
.vertical-center-modal{
	display: flex;
	align-items: center;
	justify-content: center;

}
/*添加售电合同弹窗样式重置*/
.addAgreement-modal .ivu-modal-header{
	border-bottom:none !important;
	background-color:#eeeeee !important;
}
.addAgreement-modal .ivu-icon-ios-close-empty:before{
	content: '' !important;
}
.addAgreement-modal .ivu-modal-footer{
     border-top:none !important;
	 padding-top:20px;

}
/*设备管理—设备匹配页面表格样式重置*/
.myTable_Trade .ivu-table th:first-child,
.myTable_Trade .ivu-table td:first-child{
	width:120px;
	text-align: center;
}
.myTable_Trade .ivu-table td:first-child .ivu-table-cell span{
	display: inline-block;
	width:80px;
}
/*消息中心页面样式重置*/
.msg-center .ivu-card-body{
	padding: 0;
}
/*重置售电合同表单样式*/
.ivu-form-item-required .ivu-form-item-label:before{
	content:'';
}
.add_hetong .ivu-input-icon-normal+.ivu-input{
	padding-right:26px;
}
.add_hetong .ivu-input-large{
	padding:2px 2px;
	height:34px;
}
/*重置添加终端样式*/
.trans .ivu-select-disabled .ivu-select-selection{
     background-color: #fff;
}