.calendar-input-container #calendar {
	top: -36px!important;
	left: -10px!important;
	width: 290px!important;
	height: 283px!important;
	border: none!important;
}

.calendar-input-container #calendar .week{
	color: #999!important;
}
.calendar-input-container #calendar .weekend{
	color: #999;
}
.calendar-input-container #calendar .week .weekend{
	color: #999;
}
.calendar-input-container #calendar .days span:not(.unselect){
	color:#5a5a5a!important;
	font-weight:bold;
}
.calendar-input-container #calendar .days span.select{
	border-radius: 50%!important;
	color: white!important;

}
.calendar-input-container #calendar .days span.select1:not(.unselect){
	background-color: #4f8af9!important;
	border-radius: 50%!important;
	color: white!important;
}
.calendar-input-container #calendar .days span.select2,
.calendar-input-container #calendar .days span.select3,
.calendar-input-container #calendar .days span.select4
{
	position: relative;
}
.calendar-input-container #calendar .days span.select2:not(.unselect)::before{
	content: "";
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 3px;
	border-bottom: 1px solid #6ec71e;
}

.calendar-input-container #calendar .days span.select3:not(.unselect)::after{
	content: "";
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 1px;
	border-bottom: 1px solid #F78181;
}
.calendar-input-container #calendar .days span.select4:not(.unselect){
	border-bottom: 1px solid #CA94EC;
	box-sizing: border-box;
}
.calendar-input-container #calendar .days span{
	height: 20px!important;
	width: 20px!important;
	margin: 0 6.5px!important;
}

.calendar-input-container #calendar .days span:hover{
	background-color: #fff;
	transition: none;
}
.calendar-input-container input{
	display: none!important;
}

.calendar-input-container #calendar div{
	width: 84%!important;
}