/*@import "menu.css";*/
@import "form.css";
@import "button.css";
/*@import "table.css";*/
@import "Radio.css";
@import "homeCalendar.css";

.ivu-card{
	font-size:12px;
}
.ivu-card-head{
	font-size: 14px;
}

/*圆角控制*/
.ivu-select-single .ivu-select-selection,
.ivu-btn,
.ivu-input-group-append, .ivu-input-group-prepend,
.ivu-input,
.ivu-radio-group-button .ivu-radio-wrapper:first-child,
.ivu-radio-group-button .ivu-radio-wrapper:last-child{
	/*border-radius: 0;*/
}
.single-page-con::-webkit-scrollbar{
	width: 5px;
	/*滚动条宽度（右侧滚动条）*/
	height: 0px;
	/*滚动条高度（底部滚动条）*/
	background-color: #eeeeee;
	z-index: 999;
}
.ivu-select-dropdown::-webkit-scrollbar,
.ivu-scroll-container::-webkit-scrollbar,
.bidBox::-webkit-scrollbar,
.yearUpdate::-webkit-scrollbar,
.modelBox::-webkit-scrollbar,
.recordBox::-webkit-scrollbar{
	width: 0px;
	/*滚动条宽度（右侧滚动条）*/
	height: 0px;
	/*滚动条高度（底部滚动条）*/
	background-color: #eeeeee;
	z-index: 999;
}
.ivu-select-dropdown:hover::-webkit-scrollbar,
.ivu-scroll-container:hover::-webkit-scrollbar,
.bidBox:hover::-webkit-scrollbar,
.yearUpdate:hover::-webkit-scrollbar,
.modelBox:hover::-webkit-scrollbar,
.recordBox:hover::-webkit-scrollbar{
	width: 5px;
	/*滚动条宽度（右侧滚动条）*/
	height: 5px;
	/*滚动条高度（底部滚动条）*/
	background-color: #eeeeee;
	z-index: 999;
}
/*定义滚动条轨道 内阴影+圆角*/
.single-page-con::-webkit-scrollbar-track,
.ivu-select-dropdown::-webkit-scrollbar-track,
.ivu-scroll-container::-webkit-scrollbar-track,
.bidBox::-webkit-scrollbar-track,
.yearUpdate::-webkit-scrollbar-track,
.modelBox::-webkit-scrollbar-track,
.recordBox::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
	z-index: 999;
}
/*定义滑块 内阴影+圆角*/
.single-page-con::-webkit-scrollbar-thumb,
.ivu-select-dropdown::-webkit-scrollbar-thumb,
.ivu-scroll-container::-webkit-scrollbar-thumb,
.bidBox::-webkit-scrollbar-thumb,
.yearUpdate::-webkit-scrollbar-thumb,
.modelBox::-webkit-scrollbar-thumb,
.recordBox::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #ccc;
	z-index: 999;
}
/*设备概况进度条样式重置*/
.ivu-slider-disabled .ivu-slider-bar{
      background-color: #57a3f3;
 }
.ivu-slider-disabled .ivu-slider-wrap{
      background-color:#e9eaec;
      cursor:default;
 }
.single-page{
	margin: 10px 0!important;
}
/* 售电合同页面表格重置 */
.htData .ivu-table th,
.htData .ivu-table td{
	border-right:1px solid #e9eaec;
}
.htData .ivu-table th:last-child{
	border-right:0;
}
.htData .ivu-table-wrapper {
	border-top: 0;
}
.saleBox .ivu-table::before,.saleBox .ivu-table::after{
    display: none;
}
.htData tr td:last-child{
	border-right: 0;
}
.htData tr:last-child td {
	border-bottom: 0;
}
.htData .ivu-table-border th:last-child{
	border-right: 0;
}
/*重置售电合同表格样式*/
.hetongShuju .ivu-table th,
.hetongShuju .ivu-table td{
	border-right:1px solid #e9eaec;
}
.hetongShuju .ivu-table th:last-child{
	border-right:0;
}
.hetongShuju .ivu-table tr:last-child td{
	border-bottom: 0;
}
.hetongShuju tr td:last-child{
	border-right: 0;
}
.hetongShuju .ivu-table-wrapper {
	border-top: 0;
}
.hetongShuju  .ivu-table:before{
	height: 0;
}
.hetongShuju  .ivu-table:after{
	width: 0;
}
.ht-list .ivu-table:before{
     height: 0;
}
.ht-list .ivu-table-row:last-child td{
	border-bottom: none;
}
.ht-list .ivu-table:after{
	 width:0;
}