@import "menu.css";
@import "form.css";
@import "button.css";
@import "table.css";
@import "Radio.css";
@import "homeCalendar.css";

.ivu-card{
	font-size:12px;
}
.ivu-card-head{
	font-size: 14px;
}

/*圆角控制*/
.ivu-select-single .ivu-select-selection,
.ivu-btn,
.ivu-input-group-append, .ivu-input-group-prepend,
.ivu-input,
.ivu-radio-group-button .ivu-radio-wrapper:first-child,
.ivu-radio-group-button .ivu-radio-wrapper:last-child{
	/*border-radius: 0;*/
}
.ivu-select-dropdown::-webkit-scrollbar,
.ivu-scroll-container::-webkit-scrollbar{
	width: 0px;
	/*滚动条宽度（右侧滚动条）*/
	height: 0px;
	/*滚动条高度（底部滚动条）*/
	background-color: #eeeeee;
	z-index: 999;
}
.ivu-select-dropdown:hover::-webkit-scrollbar,
.ivu-scroll-container:hover::-webkit-scrollbar{
	width: 5px;
	/*滚动条宽度（右侧滚动条）*/
	height: 5px;
	/*滚动条高度（底部滚动条）*/
	background-color: #eeeeee;
	z-index: 999;
}
/*定义滚动条轨道 内阴影+圆角*/
.ivu-select-dropdown::-webkit-scrollbar-track,
.ivu-scroll-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
	z-index: 999;
}
/*定义滑块 内阴影+圆角*/
.ivu-select-dropdown::-webkit-scrollbar-thumb,
.ivu-scroll-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #ccc;
	z-index: 999;
}
